.slots {
	height: 100%;
	width: 9%;
	border-left: 1px solid #c9c9c9;
	display: inline-block;
	font-size: 0.9em;
}
.zoomIn{
	width:0.9%;
}
.zoomOut{
	width:9%;
}

.slots div {
	width: 100%;
}

.born {
	height: 40%;
	overflow: hidden;
}
.event {
	background-color: #9fa8a3;
	border-bottom: 1px solid #1d2120;
	height: 20%;
	position: relative;
	font-weight: bold;
}
.event p {
	position: absolute;
	bottom: 0;
	left:0;
}
.die {
	height: 40%;
	overflow: hidden;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto
}
.die img {
	filter: grayscale(100%);
}
.person {
	width: 100%;
	display: block;
}

.year {
	height: 20%
}

@media (max-width: 1200px) {
    
} 

