

<div class="container">
  <input type="text" ng-model="title" placeholder="Enter a name" typeahead="name for name in wikiSearch($viewValue)" class="form-control">
  <div class="btn" ng-click="getInfo()">Search</div>
  <div class="btn" ng-click="findInfo.generateMainLine(200); timeWidth={width:'16000px'}">+</div>
  <div class="btn" ng-click="findInfo.generateMainLine(20); timeWidth={width:'1600px'}">-</div>
</div>

<div id="box">
  <div class="timeLineContainer" ng-style="timeWidth">
    <timeline info></timeline>
  </div>
    
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
