/* .thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}
 */
.mainBox{
    position: relative;
    width: 100%;
    height: 640px;
    margin-top: 10px;
}
#legend {
    float: left;
    width: 6%;
    height: 100%;
    display: block;

}

#content {
    float: left;
    width: 93%;
    height: 100%;
    overflow: scroll;
    overflow-y:hidden;
    display: block;
}

#timeLineContainer {
    width: 100%;
    height: 100%;


}

#legendTop{
    width: 100%;
    height: 40%;
    padding-top: 90%  
}

#legendMid{
    width: 100%;
    height: 20%;
    padding-top: 50% 

}
#legendDown{
    width: 100%;
    height: 40%;
    padding-top: 90% 

}



.zoom {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.btn {
    width: 100px;
    cursor: pointer;
}

.container{
    text-align: center;
}

.title {
    width: 300px;
}

.title, .search{
    display: inline-block;
}

.mainTitle{
    margin: 50px auto 50px auto;
    text-align: center;
}
.main {
    width: 95%;
    margin: 10px auto 0 auto;
}
 
@media (max-width: 1400px) {
    .mainBox{
        height: 550px;
    }
} 